
body{
    position: relative;
}

*{
    scroll-behavior: smooth;

}

header{
    width: 99vw;
    height: 49px;
    position: fixed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
    left: 0;
    top: 0;
    z-index: 10;

}

.logo{
    flex: 5.5rem;
    color: black;
    cursor: default;
    font-weight: 600;
    font-size: 19px;
}

header>nav>ul{
    position: absolute;
    top: 5px;
    right: 40px;
}

header>nav>ul>li{
    display: inline-block;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}

header>nav>ul>li>a{
   text-decoration: none;
    color: black;
    margin-left: 9px;
    font-weight: bold;

}
main>section:nth-child(1){
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    background-color:#323946;
    position: relative;
    bottom: 45%;

}

.owner{
    padding-top: 200px;
    padding-left: 20px;
}

.img{
  height: 350px;
    width:350px;
   border-radius: 30px;
}



main>section>section:nth-child(1)>h4{
      font-size: 20px;
     margin-left: 20px;
     display: inline-block;
}

/*.home{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    left: 40%;*/
/*     top: 20%;*/
/*}*/

.home-content h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 40%;
    top: 30%;
    font-size: 2rem;
    font-weight: 600;
}

.home-content h1{
    display: flex;
    justify-content: center;
    align-items: center;
   position: absolute;
   top: 40%;
    left: 43%;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 700;

}

.home-content h3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 40%;
    font-size: 2.5rem;
    font-weight: 300;
}

.home-content p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 43%;
    font-size:1.6rem;
    font-family:"Tsukushi A Round Gothic";
}

.social-media img{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 1rem 1rem 1rem;
     position: relative;
    /*margin: auto;*/
    left: 45%;
    bottom: 130px;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
    color: #0ef;
    border: 1rem solid #1f242d;
    transition: .5s ease;

}

.social-media img:hover{
    background: #0ef;
    color: #323946;
    box-shadow: 0 0 1rem #0ef;
}



    /*display: inline-flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: absolute;*/
    /*width: 4rem;*/
    /*height: 4rem;*/
    /*background: transparent;*/
    /*border: 2px solid black;*/
    /*border-radius: 50%;*/
    /*font-size: 2rem;*/
    /*color: #1f242d;*/
    /*margin: 3rem 3rem 1.5rem 3rem;*/



/*====================About Me======================*/


main>section:nth-child(2){
    position: relative;
    width: 100vw;
    height: 100vh;
    /*font-size: 0;*/
    background-size: 100vw 100vh;
    background-color: #0D5657;
}

main>section:nth-child(2)>h1{
    position: absolute;
    margin: auto;
    left: 0;
    top: 5%;
}

.about {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #323946;

}

.about-img img{
    width: 20vw;
    position: absolute;
    border-radius: 30px;
    left: 5%;
    top: 20%;

}

.heading {
  text-align: center;
    font-size: 2.5rem;
}

.about-content h1{
    text-align: left;
    line-height: 1.2;
}

.about-content p:nth-child(1){
    font-size: 2rem;
    margin: 2rem 0 2rem;
}



.about-content  article p:nth-child(2){
    font-size: 1.6rem;
    margin: 1rem 0 1rem;

}

body>main>section:nth-child(2)>h4{
    position: absolute;
    top: 74%;
    left: 5%;
    font-size: 1.50vw;
}

/*====================Experience======================*/

main>section:nth-child(3){
    position: relative;
    width: 100vw;
    height: 100vh;
    /*font-size: 0;*/
    background-size: 100vw 100vh;
    background-color: #1f242d;
}

section:nth-child(3)>h2{
    position: absolute;
    margin: auto;
    left: 40%;
    top: 10%;
    right: 0;
    font-size: 2.5rem;

}

.desing h1{
    position: absolute;
    top: 20%;
    left: 40%;
    right: 0;
    margin: auto;
    font-size: 2rem;

}

.desing div{
    width: 20vw;
    height: 40vh;
    background-color: white;
    box-shadow: #D0D0D0 0px 3px 12px;
    border-radius: 2vh;
    position: absolute;
    margin: auto;


}

.desing div:hover{
    /*box-shadow: #959393 0px 3px 12px;*/
    box-shadow: 0 0 1rem #0ef;
}


.desing h4{
    position: absolute;
    right: 0;
    left: 10%;
    top: 4vh;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: #0A0A0A;
}

.desing p{
    position: absolute;
    left: 10%;
    top: 20vh;
    margin: auto;
    font-size: 1.14rem;
    font-weight: 700;
    color: #0A0A0A;
}

.box1{
    top: 30vh;
    left: 10vw;
}

.box1 img{
    width: 30%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 30%;;
    top: 5px;
    margin: auto;
}

.box2{
    top: 30vh;
    right: 0;
    left: 0;
}

.box2 img{
    width: 25%;
    position: absolute;
    right: 0;
    left: 0;
    top: 10vh;
    margin: auto;
}

.box2 p{
    position: absolute;
    left: 10%;
    top: 23vh;
    margin: auto;
    font-size: 1.14rem;
    font-weight: 700;
    color: #0A0A0A;
}

.box3{

    top: 30vh;
    right: 12vw;
}

.box3 img{
    width: 20%;
    position: absolute;
    right: 0;
    left: 0;
    top: 10vh;
    margin: auto;
}

.box3 p{
    position: absolute;
    left: 10%;
    top: 23vh;
    margin: auto;
    font-size: 1.14rem;
    font-weight: 700;
    color: #0A0A0A;
}






