header{
    width: 99vw;
    height: 49px;
    position: fixed;
    border-radius: 10px;
    top: 0;
    z-index: 10;

}

header>nav>ul{
    position: absolute;
    top: 5px;
    right: 40px;
}

header>nav>ul>li{
    display: inline-block;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}

header>nav>ul>li>a{
   text-decoration: none;
    color: black;
    margin-left: 9px;
    font-weight: bold;

}
main>section:nth-child(1){
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-color: #063939;
    position: relative;
}

.owner{
    padding-top: 200px;
    padding-left: 20px;
}

.img{
  height: 350px;
    width:350px;
   border-radius: 30px;
}



main>section>section:nth-child(1)>h4{
      font-size: 20px;

}

section>hgroup{
    position: absolute;
    margin: auto;
    left: 45%;
    bottom: 45%;
    text-align: center;
    display: inline-block;
}

.h2{
    font-size: 30px;
    margin-left: 0px;
    margin-right: 90px;
    bottom: 10px;
    display: inline-block;

}

.h3{
    position: absolute;
    font-size: 35px;
    bottom: 87px;
    margin: auto;


}

h1 {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 30px;

}

main>section>section:nth-child(2)>nav{
    position: absolute;
    bottom: 20px;
    right: 30px;
}


/*====================About Me======================*/


main>section:nth-child(2){
    position: relative;
    width: 100vw;
    height: 100vh;
    /*font-size: 0;*/
    background-size: 100vw 100vh;
    background-color: #0D5657;
}

main>section:nth-child(2)>h1{
    position: absolute;
    margin: auto;
    left: 45%;
    right: 0;
    top: 20px;
}

section:nth-child(2)>div{
    width: 20vw;
    height: 50vh;
    border: 2px solid black;
    border-radius: 30px;
}

 main>section:nth-child(2)>div>aside>img{
    width: 20vw;
    height: 45vh;
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 100%;

}










