header{
    width: 99vw;
    height: 49px;
    position: fixed;
    border-radius: 10px;
    top: 0;
    z-index: 10;

}

header>nav>ul{
    position: absolute;
    top: 5px;
    right: 40px;
}

header>nav>ul>li{
    display: inline-block;
    margin-right: 20px;
    border-right: 20px;
    font-size: 19px;
    color: white;
}

header>nav>ul>li>a{
   text-decoration: none;
    color: black;
    margin-left: 9px;
    font-weight: bold;

}

.owner{
    padding-top: 200px;
    padding-left: 20px;
}

.img{
  height: 350px;
    width:350px;
   border-radius: 30px;
}

section{
    height: 100vh;
    padding-left: 20px;
}

main>section>section:nth-child(1)>h4{
      font-size: 20px;
}

section>hgroup{
    position: absolute;
    margin: auto;
    left: 45%;
    bottom: 45%;
    text-align: center;
    display: inline-block;
}

.h2{
    font-size: 30px;
    margin-left: 0px;
    margin-right: 90px;
    bottom: 10px;
    display: inline-block;

}

.h3{
    position: absolute;
    font-size: 35px;
    bottom: 87px;
    margin: auto;


}

h1 {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 30px;

}






main>section>section:nth-child(2)>nav{
    position: absolute;
    bottom: 20px;
    right: 20px;
}







